<div class="h container">
    <div class="row">
        <div class="col-md-6 hl">
            <h1>Welcome to My Webpage</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum at velit vel laoreet.
                Phasellus eu nunc sed ex hendrerit feugiat. Vestibulum ante ipsum primis in faucibus orci luctus
                et ultrices posuere cubilia Curae; Nam fermentum efficitur purus, nec pellentesque justo
                pellentesque eu.</p>

            <a href="/contact" class="button"><button class="btn btn-primary">Click Me</button> </a>
        </div>
        <div class="col-md-6 hr">
            <img src="img/w2.jpeg" alt="Photo" class="img-fluid">
        </div>
    </div>
</div>